*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
tsuzuku.jks
tsuzuku_base64.txt


# Entire Android Studio folder
.idea/

# Generated APKs/AABs
*.apk
*.aab

# Keystore configs
keystore.properties

# Logs
*.log
gradle-dist/
gradle-8.7-bin.zip

# Developer Environment & AI Studio metadata
metadata.json
assets/.aistudio/